<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head'); %>
  <title>Hello Friend!</title>
</head>
<body class="container">

<header>
  <%- include('../partials/_header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>We'll fix this later</p>
  </div>
</main>

<footer>
  <%- include('../partials/_footer'); %>
</footer>

</body>
</html>
